.box-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #303645 inset;
  -webkit-text-fill-color: #FFF;
  background-color: #303645;
}