* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    background-color: #01161E;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    #particles-js{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        opacity: 0.3;
    }

    .todo{
        width: 250px;
        height: 200px;
        text-align: center;
        background-color: #124559;
        padding-top: 20px;
        border-radius: 10px;
        z-index: 100;

        .mensaje {
            color: #EFF6E0;
            text-align: center;
        }
    
        &>form {
    
            &>div{
                margin-top: 20px;
                margin-bottom: 20px;
            }

            &>button{
                padding: 8px;
                border-radius: 8px;
                border-bottom: #EFF6E0;
                text-decoration:none;
            }
        }
    }

}




